<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BootStrap link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Style sheet-->
    <link rel="stylesheet" href="/public/css/style.css">

    <title>¡Gracias!</title>
</head>
<body>
    
    <div id="thanks" class="mb-auto">
        <h1>Gracias por el llenado de nuestro Formulario</h1>
        <h3>Recuerda visitar nuestras redes para mas contenido</h3>
    </div>

</body>
</html>